{% extends "base.html" %}
{% block title %}Chatting in {{ chatroom.name }}{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
  console.log("Document is ready");
  alert("moroo");
});
</script>

<h3>Chatting in {{ chatroom.name }}</h3>

{% block ChatMessageForm %}
<form method="POST" action="/chatrooms/{{ chatroom.id }}/">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send">
</form>
{% endblock %}

<table id="chatMessages">
  {% for msg in chatroom_messages %}
  <tr><td>{{ msg.created }} {{ msg.user.username }}:</td><td>{{ msg.message }}</td></tr>
  {% endfor %}
</table>

{% endblock %}
