{% extends "base.html" %}
{% block content %}

<a href={% url 'create_room' %}>
  <button type="button" class="btn btn-default">Create a new chat room</button>
</a>

{% if user_rooms %}
<div id="user_rooms">
  <h2>Your chatrooms:</h2>
  {% for r in user_rooms %}
  <a href={% url 'chat' r.id %}>r.name</a>
  {% endfor %}
</div>
{% endif %}

{% if all_rooms %}
<div id="all_rooms">
  <h2>All chatrooms:</h2>
  {% for r in all_rooms %}
  <a href={% url 'chat' r.id %}>r.name</a>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
